body {
    background-color: rgb(100, 97, 97);
}

#screen {
    background-image: url(./img/background_screen.jpg);
    border: 1px solid rgb(0, 0, 0);
    padding: 20px;
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 900px;
    margin: 0 auto;
    position: relative;
}

------------ICONOS------------------- 

#iarrow_img {
    width: 100px;
    height: 100px;
}

.arrow{
    width: 90px;
    height: 90px;       
    background-size: cover;
    position: absolute;
}

.aleft {
    left: 45px; 
    background-image: url('./img/left_icon.png');
}

.aup {
    left: 200px;
    background-image: url('./img/up_icon.png');
}

.adown{
    right: 200px;
    background-image: url('./img/down_icon.png');
}

.aright{
    right: 45px;
    background-image: url('./img/right_icon.png');
}